
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

.tall {
  height: 100%;
}

.container {
width: 100%;
}

.pathInfoPoint{
  display: block;
  width: 300px;
  text-align: center;
}

#hourly-time-slider-container {
    position: absolute;
    right: 70px;
    top: 100px;
    z-index: 1000;
}
#hourly-time-slider-container .slider .tooltip {
    opacity: 1 !important;
}

#progress-bar-wrapper {
    position: absolute;
    top: 25px;
    z-index: 1000;
    width: 100%;
    display: none;
}

#progress-bar {
    width: 500px;
    margin: auto;
}

#map-col {
    padding-right: 0;
}
#form-wrap {
    position: absolute;
    z-index: 100;
    
    width: 350px;
    
    background: white;
    opacity: 0.8;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#form {
    padding: 15px;
}

.date-row > * {
    padding: 4px;
}

#form-wrap:hover {
    opacity: 1;    
}

#form-wrap .formToggleVisible-wrap {
    position: absolute;
    right: -20px;
    display: block;
    width: 20px;
    height: 100%;
    background: white;
}

.formToggleVisible {
    margin: auto auto;
    display: block;
    width: 20px;
    height: 50px;
    background: #172945;
    position: absolute;
    top: 50%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.formToggleVisible:before{
    content: "";
    display: block;
    background: #080B17;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 5px;
    border-radius: 2px;
}

.formToggleVisible:after{
    content: "";
    display: block;
    background: #080B17;
    width: 3px;
    height: 100%;
    position: absolute;
    right: 5px;
    border-radius: 2px;
}

.hourlySliderInfoPopup{
    margin-right: 30px;
    width: 200px;
}

#form {
    height: 100%;
    overflow-y: auto;
}
