
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

.tall {
  height: 100%;
}

.container {
width: 100%;
}

.pathInfoPoint{
  display: block;
  width: 300px;
  text-align: center;
}