
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 100% }

.tall {
  height: 100%;
}

.container {
width: 100%;
}

.pathInfoPoint{
  display: block;
  width: 300px;
  text-align: center;
}

#hourly-time-slider-container {
    position: absolute;
    right: 30px;
    top: 50px;
    z-index: 1000;
}

#progress-bar-wrapper {
    position: absolute;
    top: 25px;
    z-index: 1000;
    width: 100%;
    display: none;
}

#progress-bar {
    width: 500px;
    margin: auto;
}

#map-col {
    padding-right: 0;
}