.navbar-default {
  background-color: #6cc3e0;
  background-image: none !important;
  border-color: #4b879b;
}
.navbar-default .navbar-brand {
  color: #fbfeff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #cafefb;
}
.navbar-default .navbar-text {
  color: #fbfeff;
}
.navbar-default .navbar-nav > li > a {
  color: #fbfeff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #cafefb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #cafefb;
  background-color: #4b879b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #cafefb;
  background-color: #4b879b;
}
.navbar-default .navbar-toggle {
  border-color: #4b879b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #4b879b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fbfeff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fbfeff;
}
.navbar-default .navbar-link {
  color: #fbfeff;
}
.navbar-default .navbar-link:hover {
  color: #cafefb;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fbfeff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #cafefb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #cafefb;
    background-color: #4b879b;
  }
}